<%= form_with model: @comment, url: new_comment_path do |form| %>
  <h1>Add new Post</h1>
  <div>
    <%= form.text_area :text, placeholder: 'Text' %>
  </div>
  <%= form.submit %>
<% end %>

<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>