.login {
  text-align: center;
  font-size: 40px;
}

.field input {
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}

.actions input {
  width: 100%;
  margin-top: 30px;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  font-size: 20px;
  font-weight: bold;
}

a {
  color: grey;
  text-decoration: none;
  margin: 5px;
}
