.posts-list > h2 {
  text-align: center;
  font-size: 50px;
}

hr {
  width: 50%;
}

.post-card {
  padding: 20px;
}

.go-to-post {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
  width: max-content;
  font-weight: bold;
}

.user-comment {
  font-weight: bold;
}

.comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
